<div class="user-card">
    <div class="user-card-content">
        <img [src]="user.avatar_url" [alt]="user.login" class="avatar" />
        <div class="user-info">
            <h2 class="user-name">
                {{ user.name || user.login }}
                <span>{{user.created_at | formatDate}}</span>
            </h2>
            <p class="user-bio">{{ user.bio }}</p>
        </div>
    </div>

    <div class="stats">
        <table>
            <thead>
                <th>{{ user.followers | formatNumber }}</th>
                <th>{{ user.following | formatNumber }}</th>
                <th>{{ user.public_repos }}</th>
            </thead>
            <tbody>
                <tr>
                    <td>Seguidores</td>
                    <td>Siguiendo</td>
                    <td>Repositorios</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>